body {
    overflow-y: scroll;
    padding-bottom: 20px;
}

.navbar {
    border-radius: 0;
    border-width: 0 0 1px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Shared */

.recipe-description {
    white-space: pre-line;
}

/* Home/About */

.footnotes {
    margin-top: 5rem;
    padding-left: 1rem;
    text-indent: -0.75rem;
}

/* Book/Index */
.recipe-list {
    margin: -2px 0;
}

.recipe-list-item {
    float: left;
    width: 100%;
    margin: 2px 0;
}

.recipe-list-spacer {
    margin-bottom: 20px;
}

@media(min-width: 768px) {

    .recipe-list {
        margin: -2px;
    }

    .recipe-list-item {
        width: calc(50% - 4px);
        margin: 2px;
    }
}
