body {
    overflow-y: scroll;
    padding-bottom: 20px;
}

.navbar {
    border-radius: 0;
    border-width: 0 0 1px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Book/Index */

@media(min-width: 768px) {
    .recipe-list {
        margin: -2px;
    }

    .recipe-list-item {
        float: left;
        margin: 2px;
        width: calc(50% - 4px);
    }

    .recipe-list-spacer {
        margin-bottom: 20px;
    }
}
