@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<p>
    reciprocity <sub>(<a href="https://github.com/ppaskaris/reciprocity" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://raw.githubusercontent.com/ppaskaris/reciprocity/master/LICENSE" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub>
    is an anonymous recipe manager and nutrition calculator. It is <a href="https://www.gnu.org/philosophy/free-sw.html" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">free software</a>,
    distributed under the <a href="https://www.gnu.org/copyleft/gpl.html" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">GNU General Public License</a>.
</p>

<h2>Usage</h2>
<ol>
    <li><a asp-controller="Home" asp-action="CreateBook">Create a recipe book</a>.</li>
    <li>Add a recipe to your recipe book.</li>
    <li>Add ingredients and their nutritional information to your recipe.</li>
    <li>View the calculated nutritional information per portion.</li>
    <li class="text-muted">Add detailed cooking instructions to your recipe (optional).</li>
    <li class="text-muted">Share your recipe in read-only mode (optional).</li>
</ol>

<h2>Privacy</h2>
<p>
    reciprocity does not track or store any usage information other than:
</p>
<ul>
    <li>When you created each of your recipes.</li>
    <li>When you last modified each of your recipes.</li>
    <li>Web server logs for 7 days.</li>
</ul>
<p>
    reciprocity attempts to execute the following scripts on all pages:
</p>
<ul>
    <li>Bootstrap 3.3.7 <sub>(<a href="https://github.com/twbs/bootstrap/tree/v3.3.7" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://raw.githubusercontent.com/twbs/bootstrap/v3.3.7/LICENSE" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub></li>
    <li>jQuery 2.2.0 <sub>(<a href="https://github.com/jquery/jquery/tree/2.2.0" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://raw.githubusercontent.com/jquery/jquery/2.2.0/LICENSE.txt" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub></li>
    <li>jQuery Validate 1.14.0 <sub>(<a href="https://github.com/jquery-validation/jquery-validation/tree/1.14.0" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://raw.githubusercontent.com/jquery-validation/jquery-validation/1.14.0/LICENSE.md" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub></li>
    <li>jQuery Validate Unobtrusive 3.2.6 <sub>(<a href="https://github.com/aspnet/jquery-validation-unobtrusive/tree/v3.2.6" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://raw.githubusercontent.com/aspnet/jquery-validation-unobtrusive/v3.2.6/LICENSE.txt" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub></li>
    <li>Masonry 4.2.1 <sub>(<a href="https://github.com/desandro/masonry/tree/v4.2.1" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">source</a>, <a href="https://desandro.mit-license.org/" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">license</a>)</sub></li>
</ul>
<p>
    These programs are retrieved from the <a href="https://docs.microsoft.com/en-us/aspnet/ajax/cdn/overview" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">Microsoft Ajax Content Delivery Network</a> <sub>(Bootstrap, jQuery, jQuery Validate, jQuery Validate Unobtrusive)</sub>
    and <a href="https://unpkg.com/#/about" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">UNPKG</a> <sub>(Masonry)</sub>
    using Subresource Integrity (SRI). All third-party links, images,
    stylesheets and scripts are configured with a Referrer Policy of
    "no-referrer".
</p>

<h2>Attribution</h2>
<p>
    Ingredient database adapted from the <a href="https://www.canada.ca/en/health-canada/services/food-nutrition/healthy-eating/nutrient-data/canadian-nutrient-file-2015-download-files.html" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">Canadian Nutrient File (CNF), 2015</a>.
</p>

<h2>Contact</h2>
<dl class="dl-horizontal">
    <dt>General questions</dt>
    <dd><a href="mailto:reciprocity@veggiebur.gr">reciprocity@veggiebur.gr</a></dd>
</dl>

<h2>Change history</h2>
<h3>v1.3.1.0 - 2018-02-16</h3>
<ul>
    <li>Improved auto-complete relevance and order.</li>
</ul>

<h3>v1.3.0.0 - 2018-02-15</h3>
<ul>
    <li>Added measured ingredient auto-completion<sup>1</sup> based on the <a href="https://www.canada.ca/en/health-canada/services/food-nutrition/healthy-eating/nutrient-data/canadian-nutrient-file-2015-download-files.html" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">Canadian Nutrient File (CNF), 2015</a>.</li>
</ul>

<h3>v1.2.1.0 - 2018-02-13</h3>
<ul>
    <li>Prefixed auto-complete suggestions with search term to work around opinionated user-agents.</li>
</ul>

<h3>v1.2.0.0 - 2018-02-13</h3>
<ul>
    <li>Added ingredient auto-completion based on the <a href="https://www.canada.ca/en/health-canada/services/food-nutrition/healthy-eating/nutrient-data/canadian-nutrient-file-2015-download-files.html" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">Canadian Nutrient File (CNF), 2015</a>.</li>
</ul>

<h3>v1.1.1.0 - 2018-02-11</h3>
<ul>
    <li>Added an error message for measurement precision limits.</li>
</ul>

<h3>v1.1.0.0 - 2018-02-11</h3>
<ul>
    <li>Added recipe-level "calories per serving" statistic.</li>
    <li>Added quantity unit types (pc, ea, doz).</li>
</ul>

<h3>v1.0.0.0 - Initial Release</h3>

<p class="small">
    <sup>1</sup> These are suggested after you've accepted a basic ingredient
    suggestion. The basic suggestions are per 100 g edible portion, but the
    measured ones offer common portions, mass-to-volume conversions, etc.
</p>