@{
    ViewData["Title"] = "Home";
}

<h1>reciprocity</h1>
<p>
    reciprocity is an anonymous recipe manager and nutrition calculator.
</p>

<h2>Recipe Books</h2>
<p>
    <strong>Recipe books</strong> are anonymous collections of recipes.
    <strong>Recipes</strong> are what you'd expect.
</p>
<p>
    <a class="btn btn-default" asp-action="CreateBook">Create Recipe Book</a>
</p>
